In [30]:
import pandas as pd
pd.set_option('display.max_columns',15)
list_of_refugee = pd.read_csv('RefugeeList.csv')
print(list_of_refugee)

  Family ID Lead Family Member Name Lead Family Member Surname Camp ID  \
0       1A1                    Mary                    Collins      A1
1       1A2                    Khan                     Samuel      A2
2       2A1                    Mark                      Brown      A1
3       3A1                 Michael                      Smith      A1
4       2A2                     Sam                    Roberts      A2
5       3A2                  Sophie                      Jones      A2

  Mental State Physical State  No. Of Family Members
0         good            bad                      3
1         good            bad                      4
2          bad            bad                      2
3         good           good                      3
4          bad           good                      5
5          bad            bad                      2

In [31]:
list_of_refugee

,Family ID,Lead Family Member Name,Lead Family Member Surname,Camp ID,Mental State,Physical State,No. Of Family Members
0,1A1,Mary,Collins,A1,good,bad,3
1,1A2,Khan,Samuel,A2,good,bad,4
2,2A1,Mark,Brown,A1,bad,bad,2
3,3A1,Michael,Smith,A1,good,good,3
4,2A2,Sam,Roberts,A2,bad,good,5
5,3A2,Sophie,Jones,A2,bad,bad,2

In [39]:
data = pd.DataFrame([['69','Bob','Nightmare','Kaluga','good','bad','many']], columns = list_of_refugee.columns )
list_of_refugee.append(data)
#data

C:\Users\fsuli\AppData\Local\Temp\ipykernel_18220\2108619073.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  list_of_refugee.append(data)

,Family ID,Lead Family Member Name,Lead Family Member Surname,Camp ID,Mental State,Physical State,No. Of Family Members
0,1A1,Mary,Collins,A1,good,bad,3
1,1A2,Khan,Samuel,A2,good,bad,4
2,2A1,Mark,Brown,A1,bad,bad,2
3,3A1,Michael,Smith,A1,good,good,3
4,2A2,Sam,Roberts,A2,bad,good,5
5,3A2,Sophie,Jones,A2,bad,bad,2
0,69,Bob,Nightmare,Kaluga,good,bad,many

In [16]:
def amend_refugee_profile():
    '''familyID, name, surname, campID, mentalState, physicalState, no_of_relatives'''
    print('AMEND REFUGEE PROFILE')
    name = None
    surname = None
    campID = None
    mentalState = None
    physicalState = None
    no_of_relatives = None
    while True:
        iD = input('Please choose Family ID you would like to ammend: ')
        if iD not in list_of_refugee['Family ID']:
            print('Please enter valid Family ID')
            continue
        print('\nPlease Choose which values you would like to ammend')
        print('-'*20)
        print('Input indeces corresponding to value you wish to ammend separated by commas ","')
        print('eg: "1,2" for ammending "Lead Family Member Name" and "Lead Family Member Surname"')
        print('[1] - "Lead Family Member Name"')
        print('[2] - "Lead Family Member Surname"')
        print('[3] - "Camp ID"')
        print('[4] - "Mental State"')
        print('[5] - "Physical State"')
        print('[6] - "No. Of Family Members"')
        break