In [1]:
import pandas as pd
import datetime

In [52]:
try:
    df = pd.read_csv('emergency_database.csv')
    emergencies_db = df
except FileNotFoundError:
    emergencies_db = {'Emergency ID':[''],'Location':[''],'Type':[''],'Description':[''],'Start date':[''],'Close date':['']}
    df = pd.DataFrame(emergencies_db)
    df.set_index('Emergency ID', inplace=True)
    df.to_csv('emergency_database.csv')
    emergencies_db = df
except:
    print("System couldn't read your camplist database file.")
    dataFailure = True

In [78]:
df = pd.read_csv('emergency_database.csv')
df.dropna(how="all", inplace=True)
df.fillna('',inplace=True)
df

  Emergency ID   Location      Type   Description  Start date  Close date
0          AU1  Australia  Bushfire   Description  01/09/2019  01/03/2020
1          PK1   Pakistan  Flooding  Description   01/06/2022
2         LBN1    Lebanon  Flooding  Description   01/10/2019  02/01/2020
3          PK2   Pakistan  Bushfire   Description  10/09/2019  20/10/2019
4          AU2  Australia  Bushfire   Description  06/06/2022  02/12/2022

In [82]:
no = 10
base = len(df.index)+1
for i in range(10):
    b = base+i
    df.loc[base+i] = ['Volunteer'+str(b), '','','','','']

In [83]:
df

   Emergency ID   Location      Type   Description  Start date  Close date
0           AU1  Australia  Bushfire   Description  01/09/2019  01/03/2020
1           PK1   Pakistan  Flooding  Description   01/06/2022
2          LBN1    Lebanon  Flooding  Description   01/10/2019  02/01/2020
3           PK2   Pakistan  Bushfire   Description  10/09/2019  20/10/2019
4           AU2  Australia  Bushfire   Description  06/06/2022  02/12/2022
5    Volunteer5
6    Volunteer6
7    Volunteer7
8    Volunteer8
9    Volunteer9
10  Volunteer10
11  Volunteer11
12  Volunteer12
13  Volunteer13
14  Volunteer14
16  Volunteer16
17  Volunteer17
18  Volunteer18
19  Volunteer19
20  Volunteer20
21  Volunteer21
22  Volunteer22
23  Volunteer23
24  Volunteer24
25  Volunteer25

In [31]:
emergencies_db.loc[emergencies_db['Emergency ID'].str.contains(country_code, case=False)].iloc[-1]['Emergency ID'][2:]

'2'

In [32]:
try:
    df = pd.read_csv("countries.csv", index_col = 'Country name')
    countries_db = df
except:
    print("System couldn't read the countries database file.")
    dataFailure = True

country_dict  = countries_db.to_dict(orient='index')

In [35]:
country_dict['Afghanistan']['Country code']

'AF'

In [47]:
if True in list(emergencies_db['Emergency ID'].str.contains(country_code, case=False)):
    print('a')

a

In [2]:
def go_back(questionStack):
    answerStack = []
    i = 0
    while i < len(questionStack):
        answer = input(questionStack[i])

        if answer == 'b':
            if i == 0:
                break
            answerStack.pop()
            i -= 1
            continue
        elif answer == 'q':
            break

        answerStack.append(answer)
        i += 1

    return (len(answerStack) == len(questionStack), answerStack)

In [5]:
def create_user_profile():

    questions = ['Emergency ID: ', 'Location: ', 'Type: ',
                 'Description: ', 'Start date: ', 'Close date: ']
    all_answered, answers = go_back(questions)

    print(answers)

create_user_profile()

['A1', 'Russia', 'Dewath', 'Im dying', 'now', 'later']

In [4]:
answers

NameError: name 'answers' is not defined